<header class="site-header">
    <div class="site-header__inner">
        <div class="site-header__brand">
            <img class="site-header__icon" src="images/logo-icon.svg" alt="">
            <a class="site-header__logo" href="index.html">Beyond Shop</a>
        </div>
        <nav class="site-nav" aria-label="Основная навигация">
            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <a class="site-nav__link" href="index.html">Главная</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="catalog.html">Каталог</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="product.html">Товар</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="order.html">Заявка</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="contacts.html">Контакты</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="index.html#advantages">Преимущества</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="index.html#popular">Популярные товары</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
